<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <% if current_user %>
        <pre><%= current_user.inspect%></pre>
        <%=link_to "Odhlásit", '/sessions/destroy' %>
      <% else %>
        <%=link_to "LOGIN", '/auth/registr' %>
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
